<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420692199803-p9ui1sr9ircr92fe4d06kou6r6p3bh2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420692199803-p9ui1sr9ircr92fe4d06kou6r6p3bh2p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>420692199803-or2pr5g2vd8ohnuf2u9tr46dlepkecs2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCI7BUaKaImBMC_bCzhco2lBN_pmVKovT8</string>
	<key>GCM_SENDER_ID</key>
	<string>420692199803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doloveryApp</string>
	<key>PROJECT_ID</key>
	<string>dolovery-180c2</string>
	<key>STORAGE_BUCKET</key>
	<string>dolovery-180c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420692199803:ios:c65e04bb1d8e6b472c15de</string>
	<key>DATABASE_URL</key>
	<string>https://dolovery-180c2.firebaseio.com</string>
</dict>
</plist>