<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639991254312-g1f3ku5pbcgfeo42rvsptp0drooero85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639991254312-g1f3ku5pbcgfeo42rvsptp0drooero85</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>639991254312-5edpdq5sqko0dcrlooc5fktua9jj8v76.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpYkxP_cXqPw22Z6Cj04AmoprrFnJPxUk</string>
	<key>GCM_SENDER_ID</key>
	<string>639991254312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doloveryApp</string>
	<key>PROJECT_ID</key>
	<string>dolovery-57dc1</string>
	<key>STORAGE_BUCKET</key>
	<string>dolovery-57dc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639991254312:ios:af4593e74363dfd348541d</string>
</dict>
</plist>